<header class="header">
    <div class="content">
        <nav class="navbar">
            <div class="logo">
                <img src="assets/logo.svg" alt="Logo">
                <h1>BrivexTech</h1>
            </div>
            <ul>
                <li>
                    <a href="#home">O nás</a>
                    <a href="#home">Služby</a>
                    <a href="#home">Náše technologie</a>
                    <a href="#home">Jak pracujeme</a>
                    <a href="#home">Kontaktujte nás nyní</a>
                </li>
            </ul>
        </nav>
        <div class="row">
            test
            <img src="assets/header_main_icon.png" alt="">
        </div>
    </div>
</header>
