<mat-vertical-stepper>
  <mat-step label="Konzultace a analýza">
    <p>Každý projekt je pro nás příběhem, který tvoříme krok za krokem. Od prvotní konzultace až po finální dodání dbáme na kvalitu, inovaci a spokojenost našich klientů.</p>
  </mat-step>
  <mat-step label="Konzultace a analýza">
    <p>Každý projekt je pro nás příběhem, který tvoříme krok za krokem. Od prvotní konzultace až po finální dodání dbáme na kvalitu, inovaci a spokojenost našich klientů.</p>
  </mat-step>
  <mat-step label="Konzultace a analýza">
    <p>Každý projekt je pro nás příběhem, který tvoříme krok za krokem. Od prvotní konzultace až po finální dodání dbáme na kvalitu, inovaci a spokojenost našich klientů.</p>
  </mat-step>
  <mat-step label="Konzultace a analýza">
    <p>Každý projekt je pro nás příběhem, který tvoříme krok za krokem. Od prvotní konzultace až po finální dodání dbáme na kvalitu, inovaci a spokojenost našich klientů.</p>
  </mat-step>
  <mat-step label="Konzultace a analýza">
    <p>Každý projekt je pro nás příběhem, který tvoříme krok za krokem. Od prvotní konzultace až po finální dodání dbáme na kvalitu, inovaci a spokojenost našich klientů.</p>
  </mat-step>
</mat-vertical-stepper>
