<div class="main-space">
    <div class="avatar" [ngStyle]="{'background-image': 'url(' + avatar + ')'}"></div>
    <div class="card" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
        <div class="content-wrapper">
            <h2>{{nameSurname}}</h2>
            <p>{{position}}</p>
            <div class="contact-row">
                <ng-container *ngFor="let contact of contacts">
                    <app-contact-bubble [icon]="contact.icon" [bgColor]="contact.bgColor"></app-contact-bubble>
                  </ng-container>              
            </div>
        </div>
    </div>
</div>
