<div class="about">
    <div>
        <h1>O nás</h1>
        <p class="about-us-title">Jsme dva nadšenci do IT a technologií, kteří věří, že inovace mají sílu měnit svět. S vášní pro technologie a neustálou touhou objevovat nové možnosti se snažíme přinášet svěží a efektivní řešení do IT světa. Rádi se pouštíme.</p>
    </div>
    <app-about-us-card
        [backgroundImage]="'/assets/about-bg.png'"
        [avatar]="'/assets/svg/avatar1.png'"
        [nameSurname]="'Maxim Bulanovich'"
        [position]="'Software Engineer'"
    ></app-about-us-card>
    <app-about-us-card
        [backgroundImage]="'/assets/about-bg-2.png'"
        [avatar]="'/assets/svg/avatar2.png'"
        [nameSurname]="'Ivan Sapronov'"
        [position]="'Software Engineer'"
    ></app-about-us-card>
</div>
