footer {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 30px;
  margin-left: 20px;
  font-family: "Poppins", serif;
  font-weight: 600;
}
p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6d748b;
}
